@import url("https://fonts.googleapis.com/css?family=Italianno&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input {
  font-family: "Italianno", cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

.loading {
  letter-spacing: 5px;
  font-size: 2rem;
  margin: 2rem auto;
}
