.post-list {
  width: 95vw;
  display: grid;
  justify-content: center;
  justify-items: center;
  margin: 0.5rem auto;
  text-align: center;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.post-title {
  width: 90%;
  background: #f3f3f3;
  letter-spacing: 10px;
  font-size: 2rem;
  color: grey;
  margin: 0.8rem auto;
  border-top: 5px solid #ededed;
  border-bottom: 5px solid #ededed;
  padding: 0.1rem;
}

.span-img {
  width: 3%;
  transform: translateY(0.1rem);
  opacity: 0.4;
}

.date {
  letter-spacing: 5px;
  background: #ededed;
  width: 70%;
  margin: 0 auto;
  color: grey;
  padding: 0.1rem;
}

.btn {
  width: 30%;
  font-size: 1.4rem;
  margin: 1rem auto;
  border: none;
  border-top: 4px solid lightgrey;
  border-bottom: 4px solid lightgrey;
  letter-spacing: 5px;
  color: darkslategrey;
  cursor: pointer;
  outline: 0;
}

@media only screen and (max-width: 768px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
  }
  .span-img {
    width: 10%;
  }
}
